*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
header{
    height: 25px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
}
nav{
    display: flex;
    margin-top: 25px;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
}
nav ul{
    display: flex;
    font-size: 16px;
    
}
nav ul li{
    list-style: none;
    margin-left: 30px;
    margin-top: 10px;
}
nav ul li a{
    color: black;
}
nav h5{ 
    margin-left: 200px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: black;
}
.search{
    height: 20px;
    width: 205px;
    border: 1px black solid;
    margin-left: 350px;
    border-radius: 10px;
    margin-top: 5px;
}
.search ion-icon{
    font-size: 16px;
    margin-top: 0px;
}
.search input{
    outline: none;
    margin-left: 10px;
}
nav ion-icon{
    font-size: 20px;
   margin-top: 5px;
}
.content1{
    display: flex;
}
.content1 img{
    height: 700px;
    width: 700px;
}
.content11{
    margin-top: 100px;
}
.content11 p{
   
    margin-left: 50px;
    margin-right: 400px ;
    font-size: 15px;
}
.content12{
    margin-top: 200px;
}
.content12 h6{
    font-size: 70px;
    margin-left: 100px;
}
.content12 p{
    font-size: 20px;
    margin-left: 150px;
    margin-right: 200px;
}
.content12 button{
    height: 50px;
    width: 150px;
    background-color: white;
    border: 1px black solid;
    margin-left: 240px;
    margin-top: 25px;
    border-radius: 25px;
}
.content12 button:hover{
    cursor: pointer;
}
.content2{
    display: flex;
    margin-top: 50px;
}
.content21{
    margin-left: 50px;
    margin-top: 40px;
}
.content21 img{
    height: 200px;
    width: 200px;
}
.content22{
    margin-left: 200px;
}
.content22 p{
    font-size: 20px;
    margin-top: 30px;
    margin-right: 100px;
}
.content22 button{
    height: 50px;
    width: 150px;
    background-color: white;
    border: 1px black solid;
    margin-top: 25px;
    border-radius: 25px;
}
.content3{
    margin-top: 50px;
}
.content3 h6{
    margin-left: 550px;
    font-size: 16px;
}
.content3 p{
    margin-left: 500px;
    font-size: 25px;
    margin-top: 10px;
}
.images img{
    height: 400px;
    width: 400px;
    margin-left: 10px;
}
.content4{
    display: flex;
    margin-top: 100px;
}
.content4 img{
    height: 350px;
    width: 600px;
    margin-right: 20px;
}
#p41{
    font-size: 30px;
    font-weight:lighter;
    margin-left: 120px;
    margin-top: 50px;
}
#p42{
    margin-left: 50px;
    margin-right: 70px;
    margin-top: 20px;
}
.content4 button{
    height: 50px;
    width: 150px;
    margin-left: 250px;
    background-color: white;
    border: 1px black solid;
    border-radius: 30px;
    margin-top: 40px;
}
.content5{
    display: flex;
    margin-top: 100px;
}
.content5 img{
    height: 350px;
    width: 600px;
    margin-right: 20px;
}
#p51{
    font-size: 30px;
    font-weight:lighter;
    margin-left: 120px;
    margin-top: 50px;
}
#p52{
    margin-left: 50px;
    margin-right: 70px;
    margin-top: 20px;
}
.content5 button{
    height: 50px;
    width: 150px;
    margin-left: 250px;
    background-color: white;
    border: 1px black solid;
    border-radius: 30px;
    margin-top: 40px;
}
.content6{
    margin-top: 50px;
   
}
.content6 h6{
    margin-left: 550px;
    font-size: 10px;
}
.content6 p{
    margin-left: 500px;
    font-size: 30px;
}
.content6 .boxs{
    display: flex;
}
.content6 .boxs .content61{
    height: 400px;
    width: 300px;
    margin-left: 10px;
}
.content61 img{
    height: 300px;
    width: 300px;
}
.content61 p{
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}
.content7{
    margin-top: 30px;
    height: 200px;
    display: flex;
}
.content7 img{
    height: 50px;
    margin-left: 50px;
}
#h{
    margin-left: 30px;
    font-size: 16px;
}
.content71 p{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
}
.content81{
    display: flex;
}
.content811 img{
    height: 400px;
    width: 600px;
    margin-left: 50px;
}
.content82{
    background-color: rgb(246, 220, 198);
    width: 500px;
}
footer{
    height: 400px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    display: flex;
}
footer ul li{
    list-style: none;
    margin-top: 20px;
}
footer .foot{
    margin-left: 50px;
}
footer .foot h5{
    font-size: 20px;
}
.foot11{
    margin-top: 20px;
}
.foot11 p{
    margin-top: 10px;
}
.foot12{
    margin-top: 20px;
}
.foot12 p{
    margin-top: 10px;
}
.foot13{
    margin-top: 20px;
}
.foot13 p{
    margin-top: 10px;
}
.foot2 h5{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 50px;
}
.foot2 form{
    margin-left: 50px;
}
form input{
    margin-top: 20px;
    height: 30px;
    width: 200px;
    background-color: black;
    border: 1px white solid;
    border-radius: 10px;
    outline: none;
    color: white;
    
}
form button{
    margin-top: 30px;
    height: 30px;
    width: 200px;
    background-color: black;
    color: white;
    border: 1px white solid;
    border-radius: 10px;
}
footer hr{
    color: white;
    margin-top: 50px;
}